
@{
    ViewBag.Title = "Potwierdzenie";
}

<h2>Potwierdzenie Rejestracji / Logowania</h2>

<h3>imie</h3>
<h3>@ViewBag.Zarejestrowany.imie</h3>
<h3>nazwisko</h3>
<h3>@ViewBag.Zarejestrowany.nazwisko</h3>
<h3>login</h3>
<h3>@ViewBag.Zarejestrowany.login</h3>
<h3>haslo</h3>
<h3>@ViewBag.Zarejestrowany.haslo</h3>


