
@{
    ViewBag.Title = "Rejestracja";
}

<h2>Rejestracja</h2>

<form asp-action="rejestracja" asp-controller="HomeController" method="post">

    <h3>Imie</h3>
    <input id="imie" name="imie" type="text" /><br />
    <h3>Nazwisko</h3>
    <input id="nazwisko" name="nazwisko" type="text" /><br />
    <h3>Login</h3>
    <input id="login" name="login" type="text" /><br />
    <h3>Haslo</h3>
    <input id="haslo" name="haslo" type="text" /><br />
    <input value="Save" type="Submit" />

</form>

